/* ./src/index.css */
/* NOTE v1.0.0 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 컴포넌트 */
.btn-main {
  @apply bg-main text-white;
}

.btn-sub {
  @apply bg-sub text-main;
}

/* 페이지 여백 조절 */
.w-page-sm {
  @apply max-w-md;
}

/* body */
body {
  @apply bg-white text-font; /* 라이트모드 */
  overscroll-behavior: none;
  -webkit-user-select: none;
}

main {
  margin: auto;
}

hr {
  @apply dark:border-gray-400;
}

/* 기본 */
#app {
  font-family: "Noto Sans KR", Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  -ms-overflow-style: none;
}
pre {
  font-family: "Hahmlet", Avenir, Helvetica, Arial, sans-serif;
}

/* Base Styles */
/* LINK https://tailwindcss.com/docs/preflight#buttons-have-a-default-outline */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
